/* ----------------------------------
        Font styles for Sites
-------------------------------------*/
body{
    margin: 0px;
    text-align: justify;

    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
    font-family: 'Poppins', sans-serif; 
}

/*--------------------------------------------
        Style for Header Section
---------------------------------------------*/
header{
    width: 100%;
    height: 750px;
    background-color: rgb(21, 23, 192);
}
.nav-container{
    display: flex;
    justify-content: center;
}

.nav-style{
    display: flex;
    justify-content: center;

}

.nav-items{
    display: flex;
    width: 1162px;
    margin-top: 42px;
    /* margin-bottom: 591px; */
    margin-left: 156px;
    margin-right: 122px;
    padding: 0px;
    align-items: center;
    justify-content: space-between;
}

.nav-item ul li{
    display: inline-block;
    margin-right: 36px;
}

.nav-item ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
}

.nav-item ul li a:hover{
    color: #E02C6D;
    cursor: pointer;
}

.nav-login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 123px;
    height: 44px;
    background-color: #E02C6D;
    transition: width 1s ;
}

.nav-login:hover{
    background-color: #e61c37;
    width: 150px;
    cursor: pointer;
}
.nav-login a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
}

/* .fixed{
    margin: 5px;
} */
.top-banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 50px 0 80px 0;
}

.title-text-info {
    color: #FFFFFF;
    font-size: 64px;
    width: 485px;
    height: 230px;
    /* margin-bottom: 207px;
    margin-left: 156px;
    margin-right: 102px; */
    margin-bottom: 8px;

}
.title-text-info :hover{
    line-height: 80px;
    cursor: pointer;
}

.link-button{
    width: 168px;
    height: 44px;
    margin-top: 30px;
    background-color: #E02C6D;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 1s;
    margin-top: 8px;
}

.link-button:hover{
    width: 180px;
    background-color: #e61c37;
    cursor: pointer;
}

.link-button a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    padding: 10 0;
}

.top-banner-image img{
    width: 556px;
    height: 438px;
    margin-top: 67px;
    margin-bottom: 86px;
    /* margin-left: 102px; */
    margin-right: 80px;
    /* background: url(1648334-world-cup-football-player-kick-off-football-kick-football-png-980_772_preview.png);
transform: matrix(-1, 0, 0, 1, 0, 0); */
}

/*--------------------------------------
        Header section End
-------------------------------------- */


/* --------------------------------------
         players Banner section style 
------------------------------------------*/
.all-players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 25px;
    margin-top: 60px;
    margin-left: 180px;
    margin-right: 180px;
}
.player-card{
    width: 330px;
    height: 474;
    
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}

.player-card:hover .player-info img{
    transform: scale(1.05);
    cursor: pointer;
}

.player-info{
    padding: 15px;
}

.player-info img{
    width: 300px;
    height: 256px;
    transition: transform 1s;
}

.player-info h3{
    font-size: 24px;
}

.player-info p{
    margin-top: 5px;
}

/*--------------------------------------------
            Section of Blogs banner 
---------------------------------------------*/
.blogs-banner{
    display: flex;

}
.highlights-text{
    margin-top: 224px;
    /* margin-bottom: 493px; */
    margin-left: 150px;
    margin-right: 66px;
}
.highlights-text h1{
    width: 469px;
    height: 120px;
    font-weight: bold;
    color: #0A0826;
    font-size: 48px;
}
.blogs-banner-images{
    padding: 15px;
}
.blogs-banner img{
    width: 560px;
    height: 427px;
    margin-right: 100px;
    margin-top: 165px;
}
/*-----------------------------------------------
                        Footer Styles 
-------------------------------------------------*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-area{
    width: 484px;
    height: 213px;
    margin-top: 145px;
    margin-bottom: 76px;
    /* margin-left: 475px; */
    /* margin-right: 481px; */
}
.footer-area img{
    width: 483px;
    height: 110px;
}
.footer-icon{
    width: 190px;
    height: 32px;
    margin-left: 157px;
}
/* .footer-icon .fab{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px;
    background-color: #969BAB;;
    border-radius: 50%;
} */
.footer-icon i{
    font-size: 18px;
    padding: 10px;
    margin: px;
    background-color: #e9e9e9;
    border-radius: 30px;
}
.copy-right{
    width: 236px;
    height: 31px;
    margin-top: 20px;
    margin-left: 123px;
    font-size: 18px;
    color: #000000;
}